/* begin styles just for test page */
	
p.fake {
	font-size: 24px;
	color: #ccc;
	}

/* end styles just for test page */

div#proveit {
	position: fixed;
	bottom: 50px;
	right: 20px;
	z-index: 10000;
	height: 500px;
	width: 800px;
	background: #fff;
/*	border: 1px solid #666; */
	/*font-size: small !important;*/
	}
div#accordion {}
	div#accordion h3 {
		background-repeat: no-repeat;
		background-position: 750px 50%;
		}
h3#add-heading {
	background-image: url(../icons/page_white_add.png);
	}
h3#view-heading {
	background-image: url(../icons/page_white_stack.png);
	}
h3#edit-heading {
	background-image: url(../icons/page_white_edit.png);
	}				
div#add-div {}
div#view-div {}
	div#view-div table {
		border-collapse: collapse;
		width: 100%;
		margin: 0; padding: 0;
		}
	div#view-div tr.light td {
			background-color: #fff;
		}
	div#view-div tr.dark td {
			background-color: #eeeeee;
		}
	div#view-div tr.selected td {
			background-color: #999;
			color: #fff;
		}					
	div#view-div td {
		font-size: 12px;
		/*border: 1px solid #ccc;*/
		padding: 0.3em;
		}
	div#view-div td.author {}
	div#view-div td.year{
		width: 50px;
		text-align: center;
		}
	div#view-div td.title {}
	div#view-div td.edit {
		width: 26px;
		}
	div#view-div td.ibid {
		width: 26px;
		}
	div#view-div input.button {
		display: block;
		width: 16px; height: 16px;
		border: 0;
		margin: 0 auto; padding: 0;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 0 0;
		cursor: pointer;
		}
	div#view-div input.edit {
		background-image: url(../icons/page_white_edit.png);
		}
	div#view-div input.ibid {
		background-image: url(../icons/page_white_go.png);
		}
div#edit-div {}
fieldset.inputs {
	border: 0;
	margin: 0; padding: 0;
	}
	fieldset.inputs div.input-row {
		display: block;
		margin: 0 0 0.8em 0; padding: 0;
		}
	fieldset.inputs label {
		display: block;
		font-size: 12px;
		text-transform: none;
		}
		fieldset.inputs label.required {
			font-weight: bold;
			color: red;
			}				
	fieldset.inputs input.text {
		width: 95%;
		font-size: 12px;
		}
	fieldset.inputs select {
		width: 200px;
		font-size: 12px;
		}
	fieldset.inputs input.button {
		height: 16px;
		border: 0;
		margin: 0; padding: 0;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 0 0;
		font-size: 11px;
		cursor: pointer;
		}				
	fieldset.inputs input.delete-field {
		width: 16px;
		background: url(../icons/cross.png) no-repeat 0 0;
		float: right;				
		}
	fieldset.inputs input.add-field {
		background-image: url(../icons/add.png);	
		padding-left: 16px;
		}
	fieldset.inputs input.cancel {
		background-image: url(../icons/cancel.png);	
		padding-left: 16px;
		}
	fieldset.inputs input.finish {
		background-image: url(../icons/tick.png);	
		padding-left: 16px;
		}
	fieldset.inputs div.right-buttons {
		float: right;
		text-align: right;
		width: 50%;
		}	


/*
ul#refList
{
	list-style: none;
	overflow: scroll-y;
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;
	height: 300px; width: 500px;
	margin: 0; padding: 0;
	font-size: 11px;
	border: 1px solid #ccc;
}

ul#refList li
{
	margin: 5px 0;
}
*/
/*
#proveit table,#proveit tr
{
	margin: 0; padding: 0;
}
*/