#proveit {
	background: white;
	font-size: 14px;
	position: fixed;
	right: 10px;
	bottom: 0;
	width: 700px;
	z-index: 99999999;
}

#proveit-logo {
	cursor: pointer;
	float: right;
	margin: 3px 3px 0 0;
}

#proveit-tabs {
	border: 1px solid #ddd;
	padding: 0;
}

#proveit-tabs span {
	cursor: pointer;
	color: black;
	display: inline-block;
	outline: none;
	padding: 12px 20px 12px 20px;
}

#proveit-tabs span.active {
	background: #a7dcff;
}

#proveit-content {
	background: #f4f4f4;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	height: 280px;
	display: none;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
}

#proveit-reference-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#proveit-reference-list .proveit-reference-item {
	margin: 0;
	padding: 10px;
}

#proveit-reference-list .proveit-reference-item:nth-child(odd) {
	background: #f4f4f4;
}

#proveit-reference-list .proveit-reference-item:nth-child(even) {
	background: #fff;
}

#proveit-reference-list .proveit-reference-item:hover {
	background: #a7dcff;
	cursor: pointer;
}

#proveit-reference-list .proveit-reference-item .icon {
	margin-right: 5px;
	vertical-align: text-bottom;
}

#proveit-reference-list .proveit-reference-item .template {
	font-weight: bold;
	margin-right: 10px;
}

#proveit-reference-list .proveit-reference-item .label {
	text-decoration: underline;
}

#proveit-reference-list .proveit-reference-item .value {
	margin-right: 10px;
}

#proveit-reference-list .proveit-reference-item .citations {
	float: right;
}

#proveit-reference-list .proveit-reference-item .citation {
	color: blue;
	padding: 3px;
}

#proveit-no-references-message {
	text-align: center;
	padding: 10px;
}

#proveit-reference-form .proveit-param-pair, #proveit-reference-form label {
	box-sizing: border-box;
	display: block;
	line-height: 27px; /* This must be the same as the height of the input fields, so that the pair is aligned */
	margin: 0;
	padding: 10px 10px 0 10px;
	width: 100%;
}

#proveit-reference-form input,
#proveit-reference-form select {
	-webkit-appearance: none;
	background: white;
	border: 1px solid #ddd;
	border-radius: 0;
	box-sizing: content-box;
	float: right;
	font: inherit;
	line-height: 15px;
	margin: 0;
	outline: none;
	padding: 5px;
	width: 500px;
	height: 15px; /* Set the height because else Chrome makes the date fields higher */
}

#proveit-reference-form option {
	height: 15px;
}

#proveit-reference-form input.param-name {
	float: none;
	width: 130px;
}

#proveit-buttons {
	padding: 10px;
	text-align: right;
}

#proveit-buttons button {
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	font: inherit;
	margin: 0 0 0 10px;
	padding: 5px 10px 5px 10px;
}

#proveit-show-all-params-button {
	background: #eee;
}

#proveit-insert-button,
#proveit-update-button {
	background: #a7dcff;
}

#proveit .hidden {
	display: none;
}