#proveit {
	background: white;
	font-size: 14px;
	position: fixed;
	right: 10px;
	bottom: 0;
	z-index: 99999999;
}

#proveit-header {
	border: 1px solid #ddd;
	overflow: hidden;
}

#proveit-logo {
	background: black;
	cursor: pointer;
	color: white;
	font-weight: bold;
	float: right;
	padding: 15px;
}

#proveit-left-bracket {
	color: yellow;
	margin-right: 5px;
}
#proveit-right-bracket {
	color: yellow;
	margin-left: 5px;
}

#proveit-edit-tab,
#proveit-add-tab {
	cursor: pointer;
	color: black;
	display: none;
	float: left;
	outline: none;
	padding: 15px;
}

#proveit-edit-tab.active,
#proveit-add-tab.active {
	background: #a7dcff;
}

#proveit-content {
	background: #f4f4f4;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	display: none;
	height: 280px;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 700px;
}

#proveit-reference-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#proveit-reference-list .proveit-reference-item {
	margin: 0;
	overflow: hidden;
	padding: 10px;
}

#proveit-reference-list .proveit-reference-item:nth-child(odd) {
	background: #f4f4f4;
}

#proveit-reference-list .proveit-reference-item:nth-child(even) {
	background: #fff;
}

#proveit-reference-list .proveit-reference-item:hover {
	background: #a7dcff;
	cursor: pointer;
}

#proveit-reference-list .proveit-reference-item .proveit-template {
	font-weight: bold;
	margin-right: 10px;
}

#proveit-reference-list .proveit-reference-item .proveit-label {
	text-decoration: underline;
}

#proveit-reference-list .proveit-reference-item .proveit-value {
	margin-right: 10px;
}

#proveit-reference-list .proveit-reference-item .proveit-citations {
	float: right;
}

#proveit-reference-list .proveit-reference-item .proveit-citation {
	color: blue;
	padding: 3px;
}

#proveit-no-references-message {
	text-align: center;
	padding: 10px;
}

#proveit-reference-form {
	overflow: hidden;
}

#proveit-reference-form label {
	box-sizing: border-box;
	display: block;
	line-height: 27px; /* This must be the same as the height of the input fields, so that the pair is perfectly aligned */
	margin: 0;
	padding: 10px 10px 0 10px;
	width: 100%;
}

#proveit-reference-form input,
#proveit-reference-form select {
	-webkit-appearance: none;
	background: white;
	border: 1px solid #ddd;
	border-radius: 0;
	box-sizing: content-box;
	float: right;
	font: inherit;
	line-height: 15px;
	margin: 0;
	outline: none;
	padding: 5px;
	width: 500px;
	height: 15px; /* Set the height because else Chrome makes the date fields higher */
}

#proveit-reference-form textarea {
	background: white;
	border: 1px solid #ddd;
	border-radius: 0;
	box-sizing: content-box;
	float: right;
	font: inherit;
	line-height: 15px;
	margin: 0;
	outline: none;
	padding: 5px;
	width: 500px;
	height: 100px
}

#proveit-reference-form option {
	height: 15px;
}

#proveit-reference-form input.proveit-param-name {
	float: none;
	width: 130px;
}

#proveit-buttons {
	padding: 10px;
	text-align: right;
}

#proveit-buttons button {
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	font: inherit;
	margin: 0 0 0 10px;
	padding: 5px 10px 5px 10px;
}

#proveit-show-all-params-button {
	background: #eee;
}

#proveit-insert-button,
#proveit-update-button {
	background: #a7dcff;
}

#proveit .hidden {
	display: none;
}