
div#proveit {
	position: fixed;
	bottom: 60px;
	right: 20px;
	z-index: 10000;
	height: 500px;
	width: 800px;
	background: #fff;
/*	border: 1px solid #666; 
	font-size: small !important;
	opacity: 0.3;
	filter: alpha(opacity=30); // older IE */
	}
	
div#tabs-1, div#tabs-2, div#tabs-3 {
	height: 470px;
	}
div#proveit .scroll {
	display: block;
	overflow: scroll-y;
	overflow-y: scroll;
	overflow-x: hidden;
	}

div#proveit table {
	border-collapse: collapse;
	width: 100%;
	margin: 0; padding: 0;
	}
div#proveit tr.light td {
	background-color: #fff;
	}
div#proveit tr.dark td {
	background-color: #eeeeee;
	}
div#proveit tr.selected td {
	background-color: #0073EA;
	color: #fff;
	}
div#proveit tr:hover td {
	background-color: #FF0084;
	color: #fff;
	cursor: pointer;
	}	
div#proveit td {
	font-size: 12px;
	/*border: 1px solid #ccc;*/
	padding: 0.3em;
	}
div#proveit td.author {
	padding-left: 0.5em;
	}
div#proveit td.year{
	width: 50px;
	text-align: center;
	}
div#proveit td.title {}
div#proveit td.edit {}
	div#proveit td.edit button {
		width: 20px; height: 20px;
		}
div#proveit td.ibid {}
	div#proveit td.ibid button {
		width: 20px; height: 20px;
		}

div#proveit fieldset.inputs {
	border: 0;
	margin: 0; padding: 0 1em 0 0;
	}
	div#proveit fieldset.inputs div.input-row {
		display: block;
		margin: 0 0 0.8em 0; padding: 0;
		}
	div#proveit fieldset.inputs label {
		display: block;
		font-size: 12px;
		text-transform: none;
		}
		div#proveit fieldset.inputs label.required {
			font-weight: bold;
			color: #FF0084;
			}				
	div#proveit fieldset.inputs input.text {
		width: 95%;
		font-size: 12px;
		}
	div#proveit fieldset.inputs select {
		width: 200px;
		font-size: 12px;
		}
	div#proveit fieldset.inputs button {
		width: 20px; height: 20px;
		}

div#add-buttons, div#edit-buttons {
	margin-top: 15px;
}

div#proveit button.right-side {
	float: right;
	}

/* jqueryUI class modifications start here */

span.ui-button-icon-primary {
	margin: 0; padding: 0;
	}
		
span.ui-button-text {
		font-size: 11px;
		margin: 0 3px; padding: 0;
	}
