@charset "utf-8";
/* CSS Document */

/*--------------------- General Styling ---------*/
* {
	padding: 0; margin: 0;
	}

body {	
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000;
	}

div#superContainer a {
	text-decoration:none;
	}	

	div#superContainer a:link, div#superContainer a:visited {
		color: #FDDB00;
		}
	
	div#superContainer a:hover {
		color: goldenrod;
		text-decoration: underline;
		}
	
	div#superContainer a img
	{
		border: 0;
		position:relative;
		}	
	
div#superContainer p {
	margin: 0px 5px 10px 5px;
	padding: 0;
	}

	div#superContainer p.leadIn {
		margin: 10px 5px;
		}

div#superContainer li {
	line-height:18px;
	font-size:14px;
	}

div#superContainer td {
	vertical-align:top;	
	}

div#superContainer h1{
	position: absolute; 
	bottom:5px;
	left:0px;
	font-size:48px;
	font-weight:bold;
	color:#fddb00;
	padding-left:10px;
	text-shadow: 1px 1px 3px #000;
	text-transform: uppercase;
	}	

div#superContainer h2 {
	width:254px; /*-- offseting the Padding to create indentation-*/
/*	float:right; */
	background-color:#FFF;
	color:#2682c7;
	margin:5px 0px 5px 0px;
	padding:10px 15px 10px 5px;
	font-size:24px;
	text-align:right;
	font-weight:bold;
	text-shadow: 1px 1px 1px #777;
	text-transform: uppercase;
	}	
	
/* --- begin main nav menu --- */

ul#primary-nav {
	list-style: none;
	margin: 35px 0 0 0; padding: 0 0 0.5em 0;
	width: 440px;
	border-bottom: 2px solid #FDDB00;
	}

	ul#primary-nav li {
		list-style: none;
		margin: 0 1em 0 0; padding: 0;
		display: inline;
		}
	
		ul#primary-nav li a:link, ul#primary-nav li a:visited {
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
			}
	
		ul#primary-nav li a:hover {
			color: #2682c7;
			}	
			
			ul#primary-nav li a.selected:link, ul#primary-nav li a.selected:visited {	
				color: #FDDB00;
				}

			ul#primary-nav li a.selected:hover {	
				color: #2682c7;
				}				

	ul#primary-nav  ul {
		display: none;
		list-style: none;
		margin: 0; padding: 0;
		position: absolute;
		top: 70px;
		}

		ul#primary-nav ul li {
			list-style: none;
			margin: 0 0.5em 0 0; padding: 0;
			display: inline;
			}
	
			ul#primary-nav ul li a:link, ul#primary-nav ul li a:visited {
				font-size: 14px;
				/*color: #FDDB00;*/
				text-transform: none;
				}
	
			ul#primary-nav ul li a:hover {
				/*color: #2682c7; */
				}	

/* --- end main nav menu --- */

/*------------------------- DIV Formatting ---*/

div#superContainer {
	width:960px;
	margin:auto;	
	}

div#logoContainer {
	margin-top:19px;
	width:250px;
	}

/*
div#navContainer{
	margin: 35px 10px 0px 10px;	
}
*/

div#getProveIt {
	width:250px;
	}

div#leadInPic {
	width:960px;
	text-align:center;
	background-color:#2682c7;
	padding:10px 0px 6px 0px;
	}

div.borderLine {
	border-bottom:#fddb00 2px solid;
	}

	div.borderLine.content {
		margin: 10px 15px 5px 10px;
		}

	div.borderLine.footer {
		width:960px;
		margin: 15px 0px 15px 0px;
		}

	div.borderLine.subcontent {
		width:274px;
		}

div#mainBody {
	display: block;
	border-top:#fddb00 2px solid;
	margin: 10px 15px 5px 10px;
	padding: 5px 0; /* top + bottom, left + right */
	font-size:14px;
	line-height: 18px;
	color:#FFF;	
	}
	
	div#mainBody h3 {
		font-size:18px;
		font-weight:bold;
		color:#fddb00;
		padding:5px 0px 5px 5px;
		text-shadow: 0px 0px 3px #2633ad;
		text-transform: uppercase;
		}
		
	div#mainBody h4 {
		margin: 0px;
		font-size: 16px;
		color:#ffffff;
		padding: 2px 0px 2px 5px;
		}	

/*------ Main Picture for Each Page-------*/

div#mainPic {
	position:relative;
	height:193px;
	width:661px; 
	margin:5px 5px 5px 10px;
	}

	div#mainPic.index {
		background-image:url(img/citationPopo.jpg);	
		}

	div#mainPic.features {
		background-image:url(img/features.jpg);	
		}

	div#mainPic.tutorials {
		background-image:url(img/tutorials.jpg);	
		}

	div#mainPic.documentation {
		background-image:url(img/documentation.jpg);	
		}

	div#mainPic.screenshots {
		background-image:url(img/screenshots.jpg);	
		}

	div#mainPic.theteam {
		background-image:url(img/theteam.jpg);	
		}

	div#mainPic.research {
		background-image:url(img/research.jpg);	
		}

	div#mainPic.reportabug {
		background-image:url(img/reportabug.jpg);	
		}


/* END Main Picture for each Page */

/*** Picture Divs for USERS, DEVELOPERS, and ABOUT */

a.pic940 {
	display: block;
	height: 63px; width: 930px;
	margin: 0 10px 10px 10px; padding: 130px 0 0 10px;
	font-weight: bold;
	font-size: 48px;
	text-transform: uppercase;
	text-shadow: 1px 1px 3px #000;
	color: #fddb00;
	} 

a.pic465 {
	display: block;
	height: 63px; width: 455px;
	padding: 130px 0 0 10px;
	font-weight: bold;
	font-size: 48px;
	text-transform: uppercase;
	text-shadow: 1px 1px 3px #000;
	color: #fddb00;
	} 

a.right {
	float: right;
	margin: 0 10px 10px 5px;
	}

a.left {
	float: left;
	margin: 0 5px 10px 10px;
	}

/*** END Picture Divs for USERS, DEVELOPERS, and ABOUT */

div#recommendationHeader {
	margin: 0px 10px 0px 10px;
	font-weight:bold;
	color:#fddb00;
	text-indent: 10px;
	font-size:36px;
	text-shadow: 1px 1px 2px #2633ad;
	border-bottom: #fddb00 2px solid;
	}

div.recommend {
	position:relative;
	background-color:#FFF;
	margin:10px 10px 25px 10px;
	width:323px;
	height:80px;
	}

	div.recommend.left {
		float:left;
		}

	div.recommend.right {
		float:right;
		}

div.recommendText {
	display:block;
	position:absolute;
	font-size:18px;
	margin-top:10px;
	}

	div.recommendText.firstLine {
		bottom:40px;
		left:10px;
		color:#2682c7;
		text-shadow: 0px 0px 1px #777;
		}

	div.recommendText.secondLine {
		bottom:20px;
		left:10px;
		}

div#sideTableofContents {
	width:254px;
	text-align:right;
	/*float: right;*/
	background-color:#fddb00;
	padding:5px 15px 25px 5px;
	}

	div#sideTableofContents h3 {
		font-size:16px;
		color:#000;
		font-weight:bold;
		margin: 14px 5px 0px 0px;
		text-transform: uppercase;
		}

		div#sideTableofContents h3.first {
			margin-top: 5px;
			text-transform: uppercase;
			}

	div#sideTableofContents li {
		list-style: none;
		}
		
		div#sideTableofContents li a {
		/*	width:254px;
			text-align:right;
			float: right; 
			background-color:#fddb00;
			*/
			margin:5px 0px 5px 0px;
			padding:7px 5px 7px 5px;
			}			

			/*------ feature highlight links ---*/
			div#sideTableofContents li a:link, div#sideTableofContents li a:visited, div#sideTableofContents li a:active {
				line-height:18px;
				color:#000;
				}

			div#sideTableofContents li a:hover {
				color:#2682c7;
				text-decoration:underline;
				}
			/*------ END feature highlight links ---*/			


/*--- footer divs --- */

div#footerContainer {
	margin: 10px 0px 20px 0px;
	}

div#footerCredits {
	font-size:12px;
	float:right;
	margin-right:10px;
	}

div#footerNav {
	margin-left:70px;
	font-size:12px;
	}
	
	div#footerNav a.selected:link, div#footerNav a.selected:visited {
		font-weight: bold;
		text-transform: uppercase;
		}	
	
/*------------------------- END DIV Formatting ---*/


/*---- IMAGE ROLLOVER ----*/
a.getProveit:link, a.getProveit:visited {
	display:block;
	width:250px; 
	height:100px; 
	background-image:url(img/get.jpg); 
	background-repeat:no-repeat; 
	overflow:hidden;
	} 

a.getProveit:hover { 
	width:250px; 
	height:100px; 
	background-image:url(img/get_rollover.jpg); 
	background-repeat:no-repeat;
	}
/*----END IMAGE ROLLOVER ----*/


/*-- Recommendations Hyperlinks--*/

a.recommendLink:link, a.recommendLink:visited, a.recommendLink:active {
	display:block;
	color:#000;
	font-weight:bold;
	}
	
a.recommendLink:hover {
	text-decoration:underline;
	}
	
/*-- END Recommendations Hyperlinks--*/

/*-- Credit Hyperlinks--*/
a.footerLink:link, a.footerLink:visited, a.footerLink:active {
	color:#FFF;
	}

a.footerLink:hover {
	text-decoration:underline;
	}
	
/*-- END Credit Hyperlinks--*/

/*-- Footer Navigation Links --*/

a.footerNavLink:link, a.footerNavLink:visited, a.footerNavLink:active {
	color:#fddb00;
	display:inline;
	}

a.footerNavLink:hover {
	text-decoration:underline;
	}

/*-- END Footer Navigation Links --*/

/* Begin Demo */

form#demoForm fieldset {
	border: none;
	}

form#demoForm label {
	display: block;
	margin: 10px 0 5px 0;
	font-size: medium;
	color: #2682c7;
	}

input#articleBtn {
	padding: 0 5px; margin: 0 0 0 10px;
	font-weight: bold;
	}


/* End Demo */