body
{
	background-color:#E2FFFF;
	font-family: Georgia, serif;
	font-size: 12pt;
}

a { border-width: 0 }
img { border-width: 0 }

li
{
	margin-bottom: 10px;
}

table
{
	margin: 0 10% 0 10%;
}

td
{
	vertical-align: top;
	padding: 10px;
}

h1, h2, h3, h4 , h5, h6
{
	font-weight: normal;
}

h1
{
	font-size: 18pt;
	font-weight: bold;
}

h2
{
	font-size: 16pt;
}

h3
{
	font-size: 14pt;
}

#highlight
{
	font-weight: bold;
	background: #fff;
	border: 2px solid #ccc;
	padding: 0 20px;
}